<div class="block">
  <div class="secondary-navigation">
    <ul class="wat-cf">
      <li class="first active"><%= link_to pat(:list), url(:card_properties, :index) %></li>
      <li><%= link_to pat(:new), url(:card_properties, :new) %></li>
    </ul>
  </div>
  <div class="content">
    <h2 class="title"><%= pat(:all) %> <% mt(:card_properties) %></h2>
    <div class="inner">
      <table class="table">
        <tr>
          <th class="first"><%= mat(:card_property, :_type) %></th>
          <th><%= mat(:card_property, :_id) %></th>
          <th><%= mat(:card_property, :created_at) %></th>
          <th><%= mat(:card_property, :updated_at) %></th>
          <th><%= mat(:card_property, :multiverseid) %></th>
          <th><%= mat(:card_property, :card_image_url) %></th>
          <th><%= mat(:card_property, :card_name) %></th>
          <th><%= mat(:card_property, :mana_cost) %></th>
          <th><%= mat(:card_property, :converted_mana_cost) %></th>
          <th><%= mat(:card_property, :type) %></th>
          <th><%= mat(:card_property, :card_text) %></th>
          <th><%= mat(:card_property, :flavor_text) %></th>
          <th><%= mat(:card_property, :watermark) %></th>
          <th><%= mat(:card_property, :color_indicator) %></th>
          <th><%= mat(:card_property, :p_t) %></th>
          <th><%= mat(:card_property, :loyalty) %></th>
          <th><%= mat(:card_property, :expansion) %></th>
          <th><%= mat(:card_property, :rarity) %></th>
          <th><%= mat(:card_property, :all_sets) %></th>
          <th><%= mat(:card_property, :card_number) %></th>
          <th><%= mat(:card_property, :artist) %></th>
          <th class="last">&nbsp;</th>
        </tr>
        <% @card_properties.each do |card_property| %>
        <tr>
          <td class="first"><%= card_property._type %></td>
          <td><%= card_property._id %></td>
          <td><%= card_property.created_at %></td>
          <td><%= card_property.updated_at %></td>
          <td><%= card_property.multiverseid %></td>
          <td><%= card_property.card_image_url %></td>
          <td><%= card_property.card_name %></td>
          <td><%= card_property.mana_cost %></td>
          <td><%= card_property.converted_mana_cost %></td>
          <td><%= card_property.type %></td>
          <td><%= card_property.card_text %></td>
          <td><%= card_property.flavor_text %></td>
          <td><%= card_property.watermark %></td>
          <td><%= card_property.color_indicator %></td>
          <td><%= card_property.p_t %></td>
          <td><%= card_property.loyalty %></td>
          <td><%= card_property.expansion %></td>
          <td><%= card_property.rarity %></td>
          <td><%= card_property.all_sets %></td>
          <td><%= card_property.card_number %></td>
          <td><%= card_property.artist %></td>
          <td class="last">
            <%= button_to pat(:edit), url(:card_properties, :edit, :id => card_property.id), :method => :get, :class => :button_to %> |
            <%= button_to pat(:delete), url(:card_properties, :destroy, :id => card_property.id), :method => :delete, :class => :button_to, :onsubmit => "return confirm('#{pat(:confirm)}')" %>
          </td>
        </tr>
        <% end %>
      </table>
      <div class="actions-bar wat-cf">
        <div class="actions"></div>
      </div>
    </div>
  </div>
</div>
<% content_for :sidebar, partial("base/sidebar") %>
